{# Default Settings #}
{% set defaultSettings = {
    classes: "",
    title: "Bon à savoir",
    icon: 'icon-lightbulb-alt',
} %}

{% set settings = defaultSettings|merge(settings) %}

<article class="card-review {{ settings.classes }}">
    <div class="rating flex items-center">
        {% for i in 1..5 %}
            {% set starClass = settings.rating|round(2) >= i - 0.25 ? "icon-star" : rating|round(2) >= i - 0.75 ? "icon-star-half" : "icon-star-empty" %}
            <i class="{{ starClass }} rating__icon text-icon-lg text-[#fc0]"></i>
        {% endfor %}
    </div>
    <div class="xl2 mt-4 text-primary">{{ settings.title }}</div>
    <div class="wysiwyg mt-4">{{ settings.text }}</div>
    <div class="mt-4 p font-bold text-primary">Réalisation : {{ settings.date }}</div>
    <div class="p-m text-gray-05">{{ settings.name }}</div>
</article>
