{% block stylesheet %}
    <link rel="stylesheet" href="{{ mix('styles/stylesheet.css') }}">
{% endblock %}


<div class="bg-gray-09 py-8">
    <div class="container">
        <div class="flex items-center justify-center">
            <h1 class="h1">StyleSheet</h1>
        </div>
    </div>

    {# Colors #}
    <div class="container mt-8">
        <div class="h2 mb-4">Colors</div>
        <div class="bg-white grid grid-cols-5 gap-8 rounded-3xl shadow-sm hover:shadow-lg transition-shadow py-6 px-8">
            <div class="flex flex-col items-center">
                <div class="bg-secondary-01 rounded-full w-20 h-20"></div>
                <div class="text-large mt-2">Secondary 01</div>
            </div>
            <div class="flex flex-col items-center">
                <div class="bg-secondary-02 rounded-full w-20 h-20"></div>
                <div class="text-large mt-2">Secondary 02</div>
            </div>
            <div class="flex flex-col items-center">
                <div class="bg-secondary-03 rounded-full w-20 h-20"></div>
                <div class="text-large mt-2">Secondary 03</div>
            </div>
            <div class="flex flex-col items-center">
                <div class="bg-secondary-04 rounded-full w-20 h-20"></div>
                <div class="text-large mt-2">Secondary 04</div>
            </div>
            <div class="flex flex-col items-center">
                <div class="bg-gray-01 rounded-full w-20 h-20"></div>
                <div class="text-large mt-2">Gray 01</div>
            </div>
            <div class="flex flex-col items-center">
                <div class="bg-gray-02 rounded-full w-20 h-20"></div>
                <div class="text-large mt-2">Gray 02</div>
            </div>
            <div class="flex flex-col items-center">
                <div class="bg-gray-03 rounded-full w-20 h-20"></div>
                <div class="text-large mt-2">Gray 03</div>
            </div>
            <div class="flex flex-col items-center">
                <div class="bg-gray-04 rounded-full w-20 h-20"></div>
                <div class="text-large mt-2">Gray 04</div>
            </div>
        </div>
    </div>

    {# Typography #}
    <div class="container mt-8">
        <div class="h2 mb-4">Typography</div>
        <div class="bg-white grid grid-cols-3 gap-4 rounded-3xl shadow-sm hover:shadow-lg transition-shadow py-6 px-8">

            <div class="font-head text-h1-xs">Title level 1</div>
            <div class="font-head text-h1-md">Title level 1</div>
            <div class="font-head text-h1-lg">Title level 1</div>

            <div class="font-head text-h2-xs">Title level 2</div>
            <div class="font-head text-h2-md">Title level 2</div>
            <div class="font-head text-h2-lg">Title level 2</div>

            <div class="font-head text-h2-xs">Title level 3</div>
            <div class="font-head text-h2-md">Title level 3</div>
            <div class="font-head text-h2-lg">Title level 3</div>

            <div class="font-head text-h4-xs">Title level 4</div>
            <div class="font-head text-h4-md">Title level 4</div>
            <div class="font-head text-h4-lg">Title level 4</div>

            <div class="font-head text-h5">Title level 5</div>
            <div class="font-head text-h5">Title level 5</div>
            <div class="font-head text-h5">Title level 5</div>

            <div class="font-head uppercase tracking-widest text-secondary-01 text-headline-xs">Headline</div>
            <div class="font-head uppercase tracking-widest text-secondary-01 text-headline-xs">Headline</div>
            <div class="font-head uppercase tracking-widest text-secondary-01 text-headline-lg">Headline</div>

            <div class="font-text text-lg">Large text</div>
            <div class="font-text text-lg">Large text</div>
            <div class="font-text text-lg">Large text</div>

            <div class="font-text text-md">Medium text</div>
            <div class="font-text text-md">Medium text</div>
            <div class="font-text text-md">Medium text</div>

            <div class="font-text text-base">Normal text</div>
            <div class="font-text text-base">Normal text</div>
            <div class="font-text text-base">Normal text</div>

            <div class="font-text text-base font-bold">Normal text</div>
            <div class="font-text text-base font-bold">Normal text</div>
            <div class="font-text text-base font-bold">Normal text</div>

            <div class="font-text text-sm">Small text</div>
            <div class="font-text text-sm">Small text</div>
            <div class="font-text text-sm">Small text</div>
        </div>

        <div class="bg-white grid grid-cols-3 gap-4 rounded-3xl shadow-sm hover:shadow-lg transition-shadow py-6 px-8">

            <div class="font-head text-h1-xs">Title level 1</div>
            <div class="font-head text-h1-md">Title level 1</div>
            <div class="font-head text-h1-lg">Title level 1</div>

            <div class="font-head text-h2-xs">Title level 2</div>
            <div class="font-head text-h2-md">Title level 2</div>
            <div class="font-head text-h2-lg">Title level 2</div>

            <div class="font-head text-h2-xs">Title level 3</div>
            <div class="font-head text-h2-md">Title level 3</div>
            <div class="font-head text-h2-lg">Title level 3</div>

            <div class="font-head text-h4-xs">Title level 4</div>
            <div class="font-head text-h4-md">Title level 4</div>
            <div class="font-head text-h4-lg">Title level 4</div>

            <div class="font-head text-h5">Title level 5</div>
            <div class="font-head text-h5">Title level 5</div>
            <div class="font-head text-h5">Title level 5</div>

            <div class="font-head uppercase tracking-widest text-secondary-01 text-headline-xs">Headline</div>
            <div class="font-head uppercase tracking-widest text-secondary-01 text-headline-xs">Headline</div>
            <div class="font-head uppercase tracking-widest text-secondary-01 text-headline-lg">Headline</div>

            <div class="font-text text-lg">Large text</div>
            <div class="font-text text-lg">Large text</div>
            <div class="font-text text-lg">Large text</div>

            <div class="font-text text-md">Medium text</div>
            <div class="font-text text-md">Medium text</div>
            <div class="font-text text-md">Medium text</div>

            <div class="font-text text-base">Normal text</div>
            <div class="font-text text-base">Normal text</div>
            <div class="font-text text-base">Normal text</div>

            <div class="font-text text-base font-bold">Normal text</div>
            <div class="font-text text-base font-bold">Normal text</div>
            <div class="font-text text-base font-bold">Normal text</div>

            <div class="font-text text-sm">Small text</div>
            <div class="font-text text-sm">Small text</div>
            <div class="font-text text-sm">Small text</div>
        </div>
    </div>

    {# Buttons #}
    <div class="container mt-8">
        <div class="h2 mb-4">Buttons</div>
        <div class="bg-white grid grid-cols-3 gap-4 rounded-3xl shadow-sm hover:shadow-lg transition-shadow py-6 px-8">
            {% from 'components/button/button.html.twig' import _button %}

         {#   {{ _button({
                title: "Button primary",
                type: "primary"
            }) }}

            {{ _button({
                title: "Button outline",
                type: "outline"
            }) }}#}

            {{ _button({
                title: "Button big primary",
                type: "primary"
            }) }}


            {{ _button({
                title: "Button big outline",
                type: "outline"
            }) }}

            <a href="#" class="btn-secondary btn-big">Button big secondary</a>
            <a href="#" class="btn-tertiary">Button tertiary</a>
            <a href="#" class="btn-primary">Button primary</a>
            <a href="#" class="btn-secondary">Button secondary</a>
            <a href="#" class="btn-only-icon"></a>
            <a href="#" class="btn-primary btn-icon">Button primary</a>
            <a href="#" class="btn-secondary btn-icon">Button secondary</a>
            <a href="#" class="btn-tertiary btn-icon">Button tertiary</a>
            <a href="#" class="btn-primary btn-primary--disabled">Button primary disabled</a>
            <a href="#" class="btn-secondary btn-secondary--disabled">Button secondary disabled</a>
            <a href="#" class="btn-tertiary btn-tertiary--disabled">Button tertiary disabled</a>
            <a href="#" class="btn-primary btn-primary--disabled">Button primary disabled</a>
            <a href="#" class="btn-secondary btn-secondary--disabled btn-icon">Button secondary disabled</a>
            <a href="#" class="btn-tertiary btn-tertiary--disabled btn-icon">Button tertiary disabled</a>
        </div>
    </div>

    {# Wysiwyg #}
    <div class="container mt-8">
        <div class="h2 mb-4">Wysiwyg</div>
        <div class="bg-white rounded-3xl shadow-sm hover:shadow-lg transition-shadow py-6 px-8 wysiwyg">
            <h1>Title level 1</h1>
            <h2>Title level 2</h2>
            <h3>Title level 3</h3>
            <h4>Title level 4</h4>
            <h5>Title level 5</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, <a href="#"> animi consectetur consequuntur corporis eius</a>, est maxime nemo nisi nobis odit omnis quasi quibusdam quod! Corporis eligendi nisi officia quaerat vero?</p>
            <ul>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Consectetur adipisicing elit</li>
                <li>Animi consectetur consequuntur</li>
            </ul>
            <ol>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Consectetur adipisicing elit</li>
                <li>Animi consectetur consequuntur</li>
            </ol>
        </div>
    </div>
</div>