{% block stylesheet %}
    <link rel="stylesheet" href="{{ mix('styles/stylesheet.css') }}">
{% endblock %}


<div class="bg-gray-09 py-8">
    <div class="container">
        <div class="flex items-center justify-center">
            <h1 class="h1">StyleSheet</h1>
        </div>
    </div>

    {# Colors #}
    <div class="container mt-8">
        <div class="5xl mb-4">Colors</div>
        <div class="bg-white grid grid-cols-5 gap-8 rounded-3xl shadow-sm hover:shadow-lg transition-shadow py-6 px-8">
            <div class="flex flex-col items-center">
                <div class="bg-primary rounded-full w-20 h-20"></div>
                <div class="text-large mt-2">primary</div>
            </div>
            <div class="flex flex-col items-center">
                <div class="bg-primary-light rounded-full w-20 h-20"></div>
                <div class="text-large mt-2">primary Light</div>
            </div>
            <div class="flex flex-col items-center">
                <div class="bg-primary-dark rounded-full w-20 h-20"></div>
                <div class="text-large mt-2">primary Dark</div>
            </div>
            <div class="flex flex-col items-center">
                <div class="bg-secondary rounded-full w-20 h-20"></div>
                <div class="text-large mt-2">Secondary</div>
            </div>
            <div class="flex flex-col items-center">
                <div class="bg-secondary-light rounded-full w-20 h-20"></div>
                <div class="text-large mt-2">Secondary Light</div>
            </div>
            <div class="flex flex-col items-center">
                <div class="bg-secondary-dark rounded-full w-20 h-20"></div>
                <div class="text-large mt-2">Secondary Dark</div>
            </div>
            <div class="flex flex-col items-center">
                <div class="bg-gray-01 rounded-full w-20 h-20"></div>
                <div class="text-large mt-2">Gray 01</div>
            </div>
            <div class="flex flex-col items-center">
                <div class="bg-gray-02 rounded-full w-20 h-20"></div>
                <div class="text-large mt-2">Gray 02</div>
            </div>
            <div class="flex flex-col items-center">
                <div class="bg-gray-03 rounded-full w-20 h-20"></div>
                <div class="text-large mt-2">Gray 03</div>
            </div>
            <div class="flex flex-col items-center">
                <div class="bg-gray-04 rounded-full w-20 h-20"></div>
                <div class="text-large mt-2">Gray 04</div>
            </div>
        </div>
    </div>

    {# Typography #}
    <div class="container mt-8">
        <div class="5xl mb-4">Typography</div>
        <div class="bg-white grid grid-cols-3 gap-4 rounded-3xl shadow-sm hover:shadow-lg transition-shadow py-6 px-8">

            <div class="font-head text-6xl-xs">Title level 1</div>
            <div class="font-head text-6xl-md">Title level 1</div>
            <div class="font-head text-6xl-lg">Title level 1</div>

            <div class="font-head text-5xl-xs">Title level 2</div>
            <div class="font-head text-5xl-md">Title level 2</div>
            <div class="font-head text-5xl-lg">Title level 2</div>

            <div class="font-head text-4xl-xs">Title level 3</div>
            <div class="font-head text-4xl-md">Title level 3</div>
            <div class="font-head text-3xl-lg">Title level 3</div>

            <div class="font-head text-3xl-xs">Title level 4</div>
            <div class="font-head text-3xl-md">Title level 4</div>
            <div class="font-head text-3xl-lg">Title level 4</div>

            <div class="font-head text-2xl">Title level 5</div>
            <div class="font-head text-2xl">Title level 5</div>
            <div class="font-head text-2xl">Title level 5</div>

            <div class="font-head uppercase tracking-widest text-secondary-01 text-headline-xs">Headline</div>
            <div class="font-head uppercase tracking-widest text-secondary-01 text-headline-xs">Headline</div>
            <div class="font-head uppercase tracking-widest text-secondary-01 text-headline-lg">Headline</div>

            <div class="font-text text-lg">Large text</div>
            <div class="font-text text-lg">Large text</div>
            <div class="font-text text-lg">Large text</div>

            <div class="font-text text-md">Medium text</div>
            <div class="font-text text-md">Medium text</div>
            <div class="font-text text-md">Medium text</div>

            <div class="font-text text-base">Normal text</div>
            <div class="font-text text-base">Normal text</div>
            <div class="font-text text-base">Normal text</div>

            <div class="font-text text-base font-bold">Normal text</div>
            <div class="font-text text-base font-bold">Normal text</div>
            <div class="font-text text-base font-bold">Normal text</div>

            <div class="font-text text-sm">Small text</div>
            <div class="font-text text-sm">Small text</div>
            <div class="font-text text-sm">Small text</div>
        </div>

        <div class="bg-primary-dark dark grid grid-cols-3 gap-4 rounded-3xl shadow-sm hover:shadow-lg transition-shadow py-6 px-8">

            <div class="font-head text-6xl-xs xl6">Title level 1</div>
            <div class="font-head text-6xl-md xl6">Title level 1</div>
            <div class="font-head text-6xl-lg xl6">Title level 1</div>

            <div class="font-head text-5xl-xs xl5">Title level 2</div>
            <div class="font-head text-5xl-md xl5">Title level 2</div>
            <div class="font-head text-5xl-lg xl5">Title level 2</div>

            <div class="font-head text-4xl-xs xl4">Title level 3</div>
            <div class="font-head text-4xl-md xl4">Title level 3</div>
            <div class="font-head text-4xl-lg xl4">Title level 3</div>

            <div class="font-head text-3xl-xs xl3">Title level 4</div>
            <div class="font-head text-3xl-md xl3">Title level 4</div>
            <div class="font-head text-3xl-lg xl3">Title level 4</div>

            <div class="font-head text-2xl xl2">Title level 5</div>
            <div class="font-head text-2xl xl2">Title level 5</div>
            <div class="font-head text-2xl xl2">Title level 5</div>

            <div class="font-head uppercase tracking-widest text-secondary-01 text-headline-xs">Headline</div>
            <div class="font-head uppercase tracking-widest text-secondary-01 text-headline-xs">Headline</div>
            <div class="font-head uppercase tracking-widest text-secondary-01 text-headline-lg">Headline</div>

            <div class="font-text text-lg">Large text</div>
            <div class="font-text text-lg">Large text</div>
            <div class="font-text text-lg">Large text</div>

            <div class="font-text text-md">Medium text</div>
            <div class="font-text text-md">Medium text</div>
            <div class="font-text text-md">Medium text</div>

            <div class="font-text text-base">Normal text</div>
            <div class="font-text text-base">Normal text</div>
            <div class="font-text text-base">Normal text</div>

            <div class="font-text text-base font-bold">Normal text</div>
            <div class="font-text text-base font-bold">Normal text</div>
            <div class="font-text text-base font-bold">Normal text</div>

            <div class="font-text text-sm">Small text</div>
            <div class="font-text text-sm">Small text</div>
            <div class="font-text text-sm">Small text</div>
        </div>
    </div>

    {# Buttons #}
    <div class="container mt-8">
        {% from 'components/button/button.html.twig' import _button %}
        <div class="h2 mb-4">Buttons</div>
        <div class="bg-white grid grid-cols-3 gap-4 rounded-3xl shadow-sm hover:shadow-lg transition-shadow py-6 px-8">


            {{ _button({
                title: "Button primary",
                type: "primary"
            }) }}

            {{ _button({
                title: "Button big primary",
                type: "primary",
                big: true,
            }) }}

            {{ _button({
                title: "Button big outline",
                type: "secondary"
            }) }}

        </div>

        <div class="dark mt-10 bg-primary-dark grid grid-cols-3 gap-4 rounded-3xl shadow-sm hover:shadow-lg transition-shadow py-6 px-8">


            {{ _button({
                title: "Button primary",
                type: "primary"
            }) }}

            {{ _button({
                title: "Button big primary",
                type: "primary",
                big: true,
            }) }}

            {{ _button({
                title: "Button big outline",
                type: "secondary"
            }) }}

        </div>
    </div>

    {# Wysiwyg #}
    <div class="container mt-8">
        <div class="h2 mb-4">Wysiwyg</div>
        <div class="bg-white rounded-3xl shadow-sm hover:shadow-lg transition-shadow py-6 px-8 wysiwyg">
            <h1>Title level 1</h1>
            <h2>Title level 2</h2>
            <h3>Title level 3</h3>
            <h4>Title level 4</h4>
            <h5>Title level 5</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, <a href="#"> animi consectetur consequuntur corporis eius</a>, est maxime nemo nisi nobis odit omnis quasi quibusdam quod! Corporis eligendi nisi officia quaerat vero?</p>
            <ul>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Consectetur adipisicing elit</li>
                <li>Animi consectetur consequuntur</li>
            </ul>
            <ol>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Consectetur adipisicing elit</li>
                <li>Animi consectetur consequuntur</li>
            </ol>
        </div>
    </div>
</div>
