{% extends "layout.html.twig" %}


   {% block stylesheet %}
       {{ parent() }}
       {{ encore_entry_link_tags('templates/standard/index') }}
   {% endblock %}

{% block content %}
    <div class="page-404 p-default">

        <div class="container">
            <div class="page-404__header text-center">
                <h1 class="xl3">{{ __('Erreur 404') }}</h1>
                <h2 class="xl5">{{ __('Cette page n\'existe plus.') }}</h2>
            </div>
        </div>

        <div class="container">
            <div class="mt-10 lg:mt-20">
                <div class="page-404__content wysiwyg grid gap-6 lg:grid-cols-2">
                    <div class="page-404__column">
                        <div class="xl2">{{ __("Quelques causes probables") }}</div>
                        <ul class="primary-list">
                            <li>{{ __("Vous avez mal tapé l'URL dans la barre d'adresse;") }}</li>
                            <li>{{ __("Vous avez cliqué sur un lien brisé qui pointe vers une page qui n'existe plus;") }}</li>
                            <li>{{ __("Vous n'avez pas les droits suffisants pour accéder à cette page") }}</li>
                        </ul>
                    </div>
                    <div class="page-404__column">
                        <div class="xl2">{{ __("Pour retrouver votre chemin") }}</div>
                        <ul class="primary-list">
                            <li>{{ __("Le plus simple est de repasser par") }} <a class="link"
                                                                                  href="{{ site.link }}">{{ __("l'accueil") }}</a>
                            </li>
                            {# <li>{{ __("Ou encore") }} <a class="link" href="{{ link(const_pages.contact.ID) }}">{{ __("nous contacter") }}</a> {{ __("pour nous le signaler.")}}</li> #}
                            <li>{{ __("Ou encore") }} <a class="link"
                                                         href="{{ link(const_pages.contact.ID) }}">{{ __("nous contacter") }}</a> {{ __("pour nous le signaler.") }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
{{ parent() }}
{{ encore_entry_script_tags('templates/standard/index') }}
{% endblock %}
