{% from 'components/button/button.html.twig' import _button %}

<footer class="footer dark bg-primary-dark p-default-top">
    <div class="container">
        <div class="footer-top grid gap-10 sm:grid-cols-2 lg:gap-6 lg:grid-cols-12 p-default-bottom">
            <div class="lg:col-span-3">
                <a href="/">
                    <img src="{{ asset('/build/images/logo-white-full.svg') }}" alt="Logo Jacquemard SARL" class="w-[216px] h-[142px]  "/>
                </a>
            </div>
            <div class="lg:col-span-4 lg:pr-6">
                <p class="xl2">{{ footer.desc_title }}</p>
                <p class="p-sm mt-4 mb-6">{{ footer.desc_text }}</p>
                {{ _button({
                    title: footer.desc_button.title,
                    url: footer.desc_button.url,
                    type: "primary"
                }) }}

            </div>
            <div class="lg:col-span-3">
                <p class="p-md">{{ main_infos.address }}</p>
                <a href="tel:{{ main_infos.phone }}" class="block mt-6">
                    <p class="p-md flex items-center"><i class="icon-phone mr-2"></i>{{ main_infos.phone }}</p>
                </a>
            </div>
            <div class="lg:col-span-2">
                <p class="xl2">À propos</p>
                <ul class="mt-6">
                    {% for item in menu_footer.items %}
                        <li class="mt-2">
                            <a class="link" href="{{ link(item.ID) }}">{{ item.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

        </div>
        <div class="footer-bottom py-6 border-t border-gray-03 flex flex-col items-center lg:flex-row lg:justify-between">
            <ul class="footer-bottom__links flex flex-col items-center sm:flex-row">
                <li class="footer-bottom__link">
                    <a href="{{ fn('get_permalink', const_pages.legals.ID) }}" class="link">{{ const_pages.legals.post_title }}</a>
                </li>
                <li class="footer__link max-sm:my-4 sm:mx-2 sm:px-2 sm:border-x sm:border-gray-03">
                    <a href="{{ fn('get_permalink', const_pages.confidential.ID) }}" class="link">{{ const_pages.confidential.post_title }}</a>
                </li>
                <li class="footer__link">
                    <a href="{{ fn('get_permalink', const_pages.sitemap.ID) }}" class="link">{{ const_pages.sitemap.post_title }}</a>
                </li>
            </ul>
            <span
                class="p-s max-lg:mt-6 copyright copyright--society">{{ __('Tous droits réservés Jacquemard SARL', '') }} {{ "now"|date("Y") }}</span>
        </div>
    </div>
</footer>
